{erl_opts, [debug_info]}.

{deps, [elli,
        elli_date,
        jsone,
        {erleans_provider_pgo, {git, "https://github.com/erleans/erleans_provider_pgo.git", {branch, "master"}}},
        {erleans, {git, "https://github.com/erleans/erleans.git", {branch, "master"}}}]}.

{relx, [{release, {presence, "0.1.0"},
         [presence,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true},

        {overlay, [{copy, "{{base_dir}}/lib/erleans_provider_pgo/priv/migrations/*", "sql/"}]}]
}.

{profiles,
 [{prod, [{relx,
           [{dev_mode, false},
            {include_erts, true},
            {include_src, false},
            {debug_info, strip},

            {sys_config, "./config/sys_prod.config"},
            {vm_args, "./config/vm_prod.args"}
           ]}]
  }]
}.
