%% -*- erlang -*-
[{ presence, []},

 {erleans, [{providers, [{pgsql_blob, [{module, erleans_pgsql_blob_provider},
                                       {pool_size, 5},
                                       {args, [{host, "${POSTGRES_HOST}"},
                                               {port, 5432},
                                               {database, "${POSTGRES_DATABASE}"},
                                               {user, "${POSTGRES_USER}"},
                                               {password, "${POSTGRES_PASSWORD}"}]}]}]},
            {default_provider, pgsql_blob},
            {nodename, presence},
            {node_discovery, {srv, "${DISCOVERY_DOMAIN}"}}]},

 {lasp, [{storage_backend, lasp_ets_storage_backend},
         {mode, delta_based},
         {delta_interval, 500}]},

 {plumtree, [{broadcast_exchange_timer, 60000},
             {broadcast_mods, [lasp_plumtree_backend]}]},

 {partisan, [{peer_port, 10200},
             {partisan_peer_service_manager,
              partisan_default_peer_service_manager}]},

 {lager, [{handlers, [{lager_console_backend,
                      [debug, {lager_default_formatter, [date, " ", time, " ", color, "[", severity, "] ",
                                                         {pid, ["pid=", pid], ""},
                                                         {module, [
                                                                  " module=", module, " ",
                                                                  {function, ["function=", function, " "], ""},
                                                                  {line, ["line=",line], ""}], ""},
                                                         " ", message, "\n"]}]}]}]}
].
