%% -*- erlang -*-
[{ presence, []},

 {erleans, [{providers, #{postgres => #{module => erleans_provider_pgo,
                                        args => #{pool_size => 10,
                                                  host => "127.0.0.1",
                                                  database => "test",
                                                  user => "test"}}}},
            {default_provider, postgres},
            {default_stream_provider, test_stream}, % add ets provider here too?
            {node_discovery, none}
           ]},

 {lasp, [{storage_backend, lasp_ets_storage_backend},
         {mode, delta_based},
         {delta_interval, 500}]},

 {plumtree, [{broadcast_exchange_timer, 60000},
             {broadcast_mods, [lasp_plumtree_backend]}]},

 {partisan, [{peer_port, 10200},
             {partisan_peer_service_manager,
              partisan_default_peer_service_manager}]},

 %% needed when debug_info is stripped
 {prometheus, [{collectors, [default,
                             prometheus_process_collector]}]},

 {kernel, [{logger_level, debug},
           {logger, [{filters, log, [{no_progress, {fun logger_filters:progress/2, stop}}]},
                     {handler, default, logger_std_h,
                      #{formatter => {logger_formatter, #{template => [time," ", file,":",line," ",level,": ",msg,"\n"]}}}}]}]}
].
